*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}

/* Main DIV */
.allGroup{
    height: 98vh;
   flex-direction: column;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

/* Password Fild */
#fild{
    width: 20rem;
    background-color: #2b2b2b;
    color: #eee;
    height: 50px;
    border-radius: 8px;
    box-shadow:inset 1px 2px 14px 0px #8f8f8f;
    font-size: 1.4rem;
    outline: none;
   padding: .5rem;
   text-align: center;
}

/* Copy Button Start */
#copyIcon{
    width: 20rem;
    background-color: #2b2b2b;
    color: #eee;
    height: 50px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    
}
.fa-copy{
    font-size: 1.4rem;
    margin-left: 2rem;
}
/* Copy Button End */


/* Generate Button */
#generateButton{
    background-color: #2b2b2b;
    color: #eee;
    width: 7rem;
    height: 50px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

/* Common Class */
.display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem;
   
}

